@model Pizzeria.ViewModel.KundViewModel
<p>Ändra bara de värden som är aktuella.</p>
<form asp-controller="User" asp-action="EditUserInfo" method="post">


    <label asp-for="AnvandarNamn">Användarnamn</label>
    <input asp-for="AnvandarNamn">


    <br /><br />
    <label asp-for="Email"></label>
    <input asp-for="Email" type="email" />
    <br /> <br />

    <label asp-for="Gatuadress"></label>
    <input asp-for="Gatuadress"></input>
    <br /> <br />
    <label asp-for="Namn"></label>
    <input asp-for="Namn" />
    <br /> <br />
    <label asp-for="Postnr">Post Nummer</label>
    <input asp-for="Postnr" />
    <br /> <br />
    <label asp-for="Postort"></label>
    <input asp-for="Postort" />
    <br /> <br />
    <label asp-for="Telefon"></label>
    <input asp-for="Telefon" />
    <br /> <br />
    <label asp-for="Losenord">Lösenord</label>
    <input asp-for="Losenord" />
    <br /><br />
    <div class="col-sm-4">

        <input type="submit" value="Ändra konto information" class="btn btn-info align-self-lg-end float-sm-right" />
    </div>
</form>
